<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfruit.pms.mapper.PostMapper">
    <insert id="insertPost" parameterType="com.myfruit.pms.DTO.Post">
        insert into post (title, content) values (#{title}, #{content})
    </insert>
    <select id="selectAllPosts" resultType="com.myfruit.pms.DTO.Post">
        select * from post
    </select>
    <select id="selectPostById" resultType="com.myfruit.pms.DTO.Post">
        select * from post where id = #{id}
    </select>
    <update id="updatePost" parameterType="com.myfruit.pms.DTO.Post">
        update post set title = #{title}, content = #{content} where id = #{id}
    </update>
</mapper>